<!doctype html>
<head>
  <title>
    Data Taking App: Add Property to {{ featureName }} Feature
  </title>
</head>
<body>
  <h1>
    Data Taking App: Add Property to {{ featureName }} Feature
  </h1>
  <nav>
    <a href="/">Top</a>
  </nav>
  <main>
    <form action="selectpropertyunit" method="get">
      <p>
        <label for="propname">Property Name:</label>
        <input type="text" id="propname" name="propname">
      </p>
      <p>
        <label for="quantitykind">Kind of Quantity:</label>
        <select id="quantitykind" name="quantitykind">
          {% for qk in quantity_kind_list %}
            <option value="{{qk[0]}}">{{qk[1]}}</option>
          {% endfor %}
        </select>
        <em>Use Dimensionless [Unitless] for non-dimensioned, and Currency for money</em>
      </p>
      <p>
        <label for="comment">Description:</label>
      </p>
      <p>
        <textarea name="comment" id="comment" rows="4" cols="45"></textarea>
      </p>
      <input type="text" name="feature" value="{{feature}}" readonly hidden>
      <input type="submit" value="Submit">
    </form>
    {% if status == "success" %}
    <p>
      Successful Submission
    </p>
    {% endif %}
    {% if status == "error" %}
    <p>
      Error: {{ reason }}
    </p>
    {% endif %}
  </main>
</body>
