{% extends "base.html" %}
{% block title %}Add Property to {{ featureName }} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <h2>
    Add Property to {{ featureName }} Feature
  </h2>
    <form action="selectpropertyunit" method="get">
      <p>
        <label for="propname">Property Name:</label>
        <input type="text" id="propname" name="propname" pattern="^[a-zA-Z0-9_]+$" title="Must be at least one number, letter or _" >
      </p>
      <p>
        <label for="quantitykind">Kind of Quantity:</label>
        <select id="quantitykind" name="quantitykind">
          {% for qk in quantity_kind_list %}
            <option value="{{qk[0]}}">{{qk[1]}}</option>
          {% endfor %}
        </select>
        <em>Use Dimensionless [Unitless] for non-dimensioned, and Currency for money</em>
      </p>
      <p>
        <label for="comment">Comment:</label>
      </p>
      <p>
        <textarea name="comment" id="comment" rows="4" cols="45"></textarea>
      </p>
      <input type="text" name="feature" value="{{feature}}" readonly hidden>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% if status == "success" %}
    <p>
      Successful Submission
    </p>
    {% endif %}
    {% if status == "error" %}
    <p>
      Error: {{ reason }}
    </p>
    {% endif %}
{% endblock %}
