{% extends "base.html" %}
{% block title %}Enter Data into {{ featureName }} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navlist %}
  <li class="nav-item">
    <a href="/feature?feature={{ featureURLEncoded }}" class="nav-link">Back to Feature Menu</a>
  </li>
{% endblock %}
{% block content %}
  <h1>
    Enter Data into {{ featureName }} Feature
  </h1>
  <main>
    <form action="form/adddata" method="post">
      {% for propheading in propheadings %}
        {% set prop=propheading[0] %}
        {% set heading=propheading[1] %}
        {% set categories=propheading[2] %}
        {% if categories is none %}
          <div>
            <input type="text" id="{{ prop }}" name="{{ prop }}">
            <label for="{{ prop }}">{{ heading }}<label>
          </div>
        {% else %}
          <div>
            <input type="text" id="{{ prop }}" name="{{ prop }}" list="{{heading}}_list">
            <datalist id="{{heading}}_list">
              {% for category in categories %}
                <option>{{ category }}</option>
              {% endfor %}
            </datalist>
            <label for="{{ prop }}">{{ heading }} (categories so far: {{ ", ".join(categories) }})<label>
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <label for="comment">Comment:</label>
      <div>
      </div>
        <textarea id="comment "type="text" name="comment" rows="4" cols="45"></textarea>
      </div>
      <input type="text" name="feature" value="{{feature}}" readonly hidden>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% if status == "success" %}
    <div>
      Successful Submission
    </div>
    {% endif %}
    {% if status == "error" %}
    <div>
      Error: {{ reason }}
    </div>
    {% endif %}
{% endblock %}
{% block pagescripts %}
    <script>
        function handleGeoLocationData({coords, timestamp}) {
            console.log(coords)
        }
        function handleGeoLocationError({message}) {
            console.log("Error getting position: "+message);
        }
        function getGeoLocationPosition() {
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(handleGeoLocationData, handleGeoLocationError);
            } else {
                handleGeoLocationError({message: "geolocation not supported by this browser/device"});
            }
        };
    </script>
{% endblock %}
