{% extends "base.html" %}
{% block title %}Enter Data into {{ featureName }} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <h1>
    Enter Data into {{ featureName }} Feature
  </h1>
  <main>
    <form action="form/adddata" method="post">
      {% for propheading in propheadings %}
      {% set prop=propheading[0] %}
      {% set heading=propheading[1] %}
        <p>
          <input type="text" id="{{ prop }}" name="{{ prop }}">
          <label for="{{ prop }}">{{ heading }}<label>
        </p>
      {% endfor %}
      <input type="text" name="feature" value="{{feature}}" readonly hidden>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% if status == "success" %}
    <p>
      Successful Submission
    </p>
    {% endif %}
    {% if status == "error" %}
    <p>
      Error: {{ reason }}
    </p>
    {% endif %}
{% endblock %}
