{% extends "base.html" %}
{% block title %}Enter Data into {{ featureName }} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navlist %}
  <li class="nav-item">
    <a href="/feature?feature={{ featureURLEncoded }}" class="nav-link">Back to Feature Menu</a>
  </li>
{% endblock %}
{% block content %}
  <h1>
    Enter Data into {{ featureName }} Feature
  </h1>
  <main>
    <form action="form/adddata" method="post">
      {% for propheading in propheadings %}
        {% set prop=propheading[0] %}
        {% set heading=propheading[1] %}
        {% set categories=propheading[2] %}
        {% set proptype=propheading[3] %}
        {% if proptype == geopoint %}
          <div>
            <button type="button" class="btn btn-secondary" id="button_{{ prop }}" onclick="getGeoLocationPosition(event)">Capture Position for {{ heading }}</button>
            <input type="text" id="latitude_{{prop}}" name="latitude_{{prop}}" value="" readonly hidden>
            <input type="text" id="longitude_{{prop}}" name="longitude_{{prop}}" value="" readonly hidden>
            <input type="text" id="altitude_{{prop}}" name="altitude_{{prop}}" value="" readonly hidden>
          </div>
        {% elif categories is none %}
          <div>
            <input type="text" id="{{ prop }}" name="{{ prop }}">
            <label for="{{ prop }}">{{ heading }} and type: {{ proptype }}<label>
          </div>
        {% else %}
          <div>
            <input type="text" id="{{ prop }}" name="{{ prop }}" list="{{heading}}_list">
            <datalist id="{{heading}}_list">
              {% for category in categories %}
                <option>{{ category }}</option>
              {% endfor %}
            </datalist>
            <label for="{{ prop }}">{{ heading }} (categories so far: {{ ", ".join(categories) }})<label>
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <label for="comment">Comment:</label>
      <div>
      </div>
        <textarea id="comment "type="text" name="comment" rows="4" cols="45"></textarea>
      </div>
      <input type="text" name="feature" value="{{feature}}" readonly hidden>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% if status == "success" %}
    <div>
      Successful Submission
    </div>
    {% endif %}
    {% if status == "error" %}
    <div>
      Error: {{ reason }}
    </div>
    {% endif %}
{% endblock %}
{% block pagescripts %}
    <script type = "text/javascript">
        function handleGeoLocationData({coords, timestamp}) {
            console.log(coords)
            // coords.latitude;
            // coords.longitude;
            // coords.accuracy;
            // coords.altitude;
            // coords.altitudeAccuracy;
        }
        function handleGeoLocationError({message}) {
            console.log("Error getting position: "+message);
        }
        function getGeoLocationPosition(evt) {
            evt.stopPropagation();
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(handleGeoLocationData, handleGeoLocationError);
            } else {
                handleGeoLocationError({message: "geolocation not supported by this browser/device"});
            }
            console.log(evt.target);
            console.log(evt.target.id);
            if (evt.target.id.startsWith("button_")) {
                const propUri = evt.target.id.replace("button_","");
            } else {
                throw Exception("Button name doesn't match pattern");
            }
            return true;
        };
    </script>
{% endblock %}
