<!doctype html>
{% extends "base.html" %}
{% block title %}{{featureName}} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <h2>
    {{ featureName }} Feature
  </h2>
    <p>
        <a href="/tableview?feature={{ featureURLEncoded }}" class="btn btn-primary">View Data Table</a>
    </p>
    <p>
        <a href="/enterdata?feature={{ featureURLEncoded }}" class="btn btn-primary">Enter Data</a>
    </p>
    <p>
        <a href="/addproperty?feature={{ featureURLEncoded }}" class="btn btn-secondary">Add New Property</a>
    </p>
    <p>
        <a href="/download/csv?feature={{ featureURLEncoded }}" class="btn btn-secondary">Download CSV</a>
    </p>
  <h3>Properties</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Quantity Kind</th>
        <th>Unit</th>
        <th>Comment</th>
      </tr>
      {% for prop in properties %}
        <tr>
          <td>{{ prop["label"] }}</td>
          <td>{{ prop["qk"]}}</td>
          <td>{{ prop["unit"] }}</td>
          <td>{{ prop["comment"] }}</td>
        </tr>
      {% endfor %}
    </table>
  <h3>Feature Comment</h3>
  {{ featureComment }}
{% endblock %}
