<!doctype html>
<head>
  <title>
    Data Taking App: {{ featureName }} Feature
  </title>
</head>
<body>
  <h1>
    Data taking App: {{ featureName }} Feature
  </h1>
  <nav>
    <a href="/">Top<a>
  </nav>
  <main>
    <p>
        <a href="/tableview?feature={{ featureURLEncoded }}">View Data Table</a>
    </p>
    <p>
        <a href="/enterdata?feature={{ featureURLEncoded }}">Enter Data</a>
    </p>
    <p>
        <em><a href="/addproperty?feature={{ featureURLEncoded }}">Add New Property</a></em>
    </p>
  </main>
</body>
