<!doctype html>
{% extends "base.html" %}
{% block title %}{{featureName}} Feature{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <h2>
    {{ featureName }} Feature
  </h2>
    <p>
        <a href="/tableview?feature={{ featureURLEncoded }}">View Data Table</a>
    </p>
    <p>
        <a href="/enterdata?feature={{ featureURLEncoded }}">Enter Data</a>
    </p>
    <p>
        <em><a href="/addproperty?feature={{ featureURLEncoded }}">Add New Property</a></em>
    </p>
{% endblock %}
