{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="POST" action="{{url_for('auth.login')}}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        <input type="submit" value="Go">
    </form>
{% endblock %}
