{% extends "base.html" %}
{% block title %}Data Table View of {{ featureName }} Feature {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navlist %}
  <li class="nav-item">
    <a href="/feature?feature={{ featureURLEncoded }}" class="nav-link">Back to Feature Menu</a>
  </li>
{% endblock %}
{% block content %}
  <h1>
    Data Table View of {{ featureName }} Feature
  </h1>
  <main>
    <table class="table table-striped">
      <tr>
        <th>
            Timestamp
        </th>
        {% for heading in headings %}
          <th>
            {{ heading }}
          </th>
        {% endfor %}
        <th>
            Comment
        </th>
      </tr>
      {% for stim_time, data_row, stim_comment in zip(stim_times,data,stim_comments) %}
        <tr>
          <td>
            {{ stim_time }}
          </td>
          {% for data_cell in data_row %}
            <td>
              {{ data_cell }}
            </td>
          {% endfor %}
          <td>
            {{ stim_comment }}
          </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
