{% extends "base.html" %}
{% block title %}Data Table View of {{ featureName }} Feature {% endblock %}
{% block head %}
    {{ super() }}
  <style>
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #dddddd;
      padding: 8px;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>
    Data Table View of {{ featureName }} Feature
  </h1>
  <main>
    <table>
      <tr>
        <th>
            Timestamp
        </th>
        {% for heading in headings %}
          <th>
            {{ heading }}
          </th>
        {% endfor %}
      </tr>
      {% for stim_time, data_row in zip(stim_times,data) %}
        <tr>
          <td>
            {{ stim_time }}
          </td>
            {% for data_cell in data_row %}
              <td>
                {{ data_cell }}
              </td>
            {% endfor %}
        </tr>
      {% endfor %}
    </table>
{% endblock %}
